.container {
    border: 0.3125rem solid var(--color-error);
    padding: 1rem;
    margin-block-end: 1.5rem;
}

.container:focus-visible {
    outline: 0.1875rem solid #000000;
    outline-offset: 0.125rem;
}

.heading {
    color: var(--color-error);
    margin-block-start: 0;
}


.list {
    margin: 0;
    padding-inline-start: 1.25rem;
}

.list li {
    margin-block-end: 0.5rem;
}

.list li::marker {
    color: var(--color-error);
    font-size: 1.25rem;
    font-weight: 600;
}

.list a {
    color: var(--color-error);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: underline;
}

.list a:focus-visible {
    outline: 0.1875rem solid #000000;
    outline-offset: 0.125rem;
}